body{
    font-style: Arial, sans serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(162, 140, 159);
   }
   .input_sec{
    padding: 50px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

   .input_sec input{
    width: 300px;
    height: 30px;
    border-color: black;
    font-size: 15px;
    
   }

  .input_sec button{
     width: 100px;
     height: 30px; 
     background-color: rgb(119, 71, 87);
     border-color: rgb(56, 28, 28);
     color: rgb(48, 36, 49);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 8px;    
    cursor: pointer;  
    border-style:inherit;                  
    
   }
   #to {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 30px auto;
    max-width: 500px;
}

li {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #2c1a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete_but {
    background-color: #524848;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}